/obj
/dist
/rts
/rtsed
/matchmaker
/tests
/depthfieldgen
/*.dll
/*.dylib
rts.exe
*.o
*.swp
tags
lib/boost_1_50_0
lib/boost_1_50_msvc_32
local.json
msvc/rts/Debug
msvc/rts/Debug\ Matchmaking
msvc/rts/Release
msvc/rts/*.suo
msvc/rts/*.sdf
msvc/rts/*.opensdf
msvc/rts/*.user
/rts.app
/rts.dmg
/nbproject/private/
nbproject
.depend
.DS_STORE
rts-server
